// backgroud
$backgroud-color-primary: #eee;

// purple
$purple-primary: #8a2be2;
$purple-secundary: #7129b4;

//disable
$button-disable: #ffffff96;

//colors
$white-color: #ffffff;
$black-color: #000000;

// Posts
$post-boxshadow-color: rgba(0, 0, 0, 0.26);
$backgroud-post: #fff;